.control{
    width:400px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 5px;
    padding:10px;
    margin-left:10px;
    
    
}
body{
    width:100%;
    height:800px;
     background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20230521/pngtree-commercial-electronics-store-of-many-screens-image_2667345.jpg");
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-size: cover;
}
.container
{
    background-color: aliceblue;
    border-radius: 5px;
    
}
img{
    width:40px;
    height:40px;
}
.manage{
    width:70%;
    padding-top:70px;
    margin-left:200px;
}
.yes
{
    width:60%;
    padding-top:100px;
    margin-left:250px;
    
    
}
.attractive-navbar {
      background: linear-gradient(90deg, #004e92, #000428); 
      color: white;
    }

    .navbar-brand,
    .nav-link {
      color: white !important;
      font-weight: 500;
    }

    .navbar-brand:hover,
    .nav-link:hover {
      color: #ffd700 !important;
    } 
    
h1{
    display:flex;
    align-items:center;
    justify-content:center;
    color:brown;
}